body {
  width: 450px;
}

table {
  width: 100%;
  height: 100%;
}

.action {
  width: 60%; 
}

th {
  text-align: left;
}

th, td {
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  width: 100%;
  font-size: 11px;
}

.btnGroup {
  float: left;
  display: none;
}
